:root {
  --primary-300: hsl(11, 100%, 94%);
  --primary-400: hsl(11, 100%, 85%);
  --primary-600: tomato;
  --primary-700: hsl(7, 76%, 42%);

  --white: #fff;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-500: #737373;
  --neutral-900: #171717;
}

/* dark theme */
html:has(.theme-switcher__input:checked) {
  --primary-300: hsl(11, 100%, 94%);
  --primary-400: hsl(11, 100%, 85%);
  --primary-600: tomato;
  --primary-700: hsl(7, 76%, 42%);

  --white: #222;
  --neutral-100: #404040;
  --neutral-200: #525252;
  --neutral-500: #a3a3a3;
  --neutral-900: #fff;
}

/*
Responsive breakpoints:
  sm: 640px;
  lg: 1024px;
*/
