.btn {
  padding: 0.75rem 1.5rem;
  user-select: none;
  cursor: pointer;

  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background: #f0f0f0;

  transition-property: background-color, transform;
  transition-duration: 0.1s;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* -- PLAIN -- */
.btn--plain {
  border-radius: 100px;
}

.btn--plain:hover {
  transform: scale(1.01);
}

.btn--plain:active {
  transition: none;
}

.btn--primary {
  color: white;
  background: hsl(9, 100%, 64%);
}

.btn--primary:active {
  background: hsl(7, 76%, 42%);
}

.btn--secondary {
  color: hsl(9, 100%, 64%);
  background: hsl(11, 100%, 94%);
}

.btn--secondary:active {
  background: hsl(11, 100%, 85%);
}

.btn--tertiary {
  color: hsl(9, 100%, 64%);
  background: white;
  border: 2px solid hsl(9, 100%, 64%);
}

.btn--tertiary:active {
  background: hsl(11, 100%, 94%);
}

/* -- BRUTALIST -- */
.btn--brutalist {
  border-radius: 0;
  color: #fff;
  background: #222;
}

.btn--brutalist::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.5rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0;
  border: 2px solid #222;
  transition: transform 0.1s;
}

.btn--brutalist:hover {
  transform: translate(-0.25rem, -0.25rem);
}

.btn--brutalist:hover::before {
  transform: translate(0.5rem, 0.5rem);
}

.btn--brutalist:active {
  transform: translate(0.25rem, 0.25rem);
  transition: none;
}

.btn--brutalist:active::before {
  transform: translate(-0.5rem, -0.25rem);
  transition: none;
}

/* -- ORGANIC -- */
.btn--organic {
  text-transform: none;
  letter-spacing: 0.025em;

  color: hsl(94, 67%, 26%);
  background: hsl(83, 90%, 77%);
  border-radius: 0 1.25rem 0 1.25rem;
  transform: scale(1);
  transition-property: border-radius, background-color, transform, box-shadow;
  transition-duration: 0.1s;
}

.btn--organic:hover {
  background: hsl(85, 84%, 71%);
  border-radius: 0 0.75rem 0 0.75rem;
}

.btn--organic:active {
  transform: scale(0.95);
  transition: none;
  box-shadow: 0 0 0 2px hsl(94, 67%, 26%);
}

/* -- ELEGANT -- */
.btn--elegant {
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.025em;
  background: none;
  border: 1px solid #222;
  border-width: 1px 0;

  background-image: linear-gradient(0, #222, #222);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0;
  transition: color 0.1s, background-size 0.1s;
}

.btn--elegant:hover {
  color: #fff;
  background-size: 100% 100%;
}

.btn--elegant:active {
  transform: scale(0.98);
}
