.chip-container {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.chip {
  display: inline-block;
  font-size: var(--font-xs);
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 0.5px solid var(--neutral-500);
}
