.chip-container {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.chip {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #bbb;
}
