.form {
  width: 100%;
  max-width: 25rem;
}

.form-field {
  display: block;
  margin: 1.5rem 0;

  font-weight: 600;
  font-size: var(--font-sm);
  letter-spacing: 0.025em;
}

.form-field__textbox {
  display: block;
  width: 100%;
  padding: 1rem 0.75rem;
  resize: vertical;

  font: inherit;
  font-weight: 400;
  font-size: var(--font-base);

  border-radius: 8px;
  border: none;
  border: 2px solid transparent;
  background: var(--neutral-100);

  transition-property: border-color;
  transition-duration: 0.1s;
}

.form-field__textbox:focus {
  border-color: var(--primary-600);
  outline: none;
}

.checkbox {
  font-size: var(--font-sm);
}
