.grid-demo [class*="grid"] {
  padding: 1rem 0;
}

.grid-demo .flex-grid {
  display: flex;
  gap: 2rem;
}

.grid-demo .grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.grid-demo .grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid-demo .grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.grid-demo .grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.grid-demo .col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  aspect-ratio: 16 / 9;
  background: rgba(0, 0, 0, 0.1);
}
