.hero {
  padding: 8rem 0;
  color: var(--white);
  background: var(--primary-600);
}

.hero__subline {
  margin-top: 0.5rem;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.025em;
}

.hero__btn {
  margin-top: 2rem;
  background: var(--white);
}
