.menu-item-container {
  display: flex;
  gap: 2rem;

  width: 100%;
  overflow-x: auto;
  padding-bottom: 1rem;

  scroll-snap-type: x mandatory;
}

.menu-item {
  flex: 0 0 20.5rem;
  scroll-snap-stop: always;
  scroll-snap-align: start;
}

.menu-item__image {
  border-radius: 1.25rem;
}

.menu-item__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.menu-item__price {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;

  margin: 1.25rem 0;

  font-size: 1.25rem;
}

.menu-item__price small {
  display: inline-block;
  font-size: 0.75rem;
  color: var(--neutral-500);
}
