.menu-item-container {
  display: flex;
  gap: 2rem;

  width: 100%;
  overflow-x: auto;
  padding-bottom: 1rem;

  scroll-snap-type: x mandatory;
}

.menu-item {
  flex: 0 0 20.5rem;
  scroll-snap-stop: always;
  scroll-snap-align: start;
}

.menu-item[data-featured]::before {
  content: attr(data-featured);
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  pointer-events: none; /* keep click area of image intact */

  padding: 0.5rem 0.75rem;

  font-weight: 600;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 150%;

  border-radius: 100rem;
  color: var(--white);
  background: var(--primary-600);

  color: var(--primary-600);
  background: var(--primary-300);
}

.menu-item__image {
  border-radius: 1.5rem;
}

.menu-item__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.menu-item__price {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;

  margin: 1.25rem 0;

  font-size: 1.25rem;
}

.menu-item__price small {
  display: inline-block;
  font-size: 0.75rem;
  color: var(--neutral-500);
}
