.page-footer {
  padding: 2rem 0;
  color: var(--white);
  background: var(--neutral-900);

  font-size: 0.875rem;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  gap: 1rem;

  font-size: 0.75rem;
}

/* sm */
@media (min-width: 640px) {
  .page-footer__container {
    flex-direction: row;
  }
}
