*,
*::before,
*::after {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 400 16px/1.5rem "Poppins", sans-serif;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.25em;
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25em;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25em;
}

h4 {
  font-weight: 600;
  font-size: 1rem;
}

button {
  font: inherit;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}
